@import url("/stylesheets/whitespace-reset.css");
body {
  font: normal 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  margin: 0;
  color: #333333;
  background: white; }

a {
  color: #0066bb;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.clear {
  height: 0;
  clear: both; }

form dl dt {
  padding: 0 0 5px 0;
  font-weight: bold; }
form dl dd {
  padding: 0 0 15px 0; }
  form dl dd small {
    display: block; }
  form dl dd input[type="text"], form dl dd input[type="password"] {
    width: 238px;
    height: 26px;
    padding: 2px 5px;
    font: normal 13px Arial, Helvetica, sans-serif;
    color: #333333;
    border: 1px solid #cccccc;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 5px 0; }
  form dl dd select {
    margin: 0 0 5px 0; }
  form dl dd textarea {
    width: 238px;
    height: 26px;
    padding: 2px 5px;
    font: normal 13px Arial, Helvetica, sans-serif;
    color: #333333;
    border: 1px solid #cccccc;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 86px;
    margin: 0 0 5px 0; }
  form dl dd li {
    padding: 0 0 5px 0; }
form fieldset.actions input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  overflow: visible;
  padding: 5px 12px;
  font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #0051b7;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: #0066cc;
  background-image: -moz-linear-gradient(100% 100% 90deg, #0051b7, #0066cc);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0066cc), to(#0051b7)); }
  form fieldset.actions input[type="submit"]:active {
    position: relative;
    top: 1px; }

header {
  width: 750px;
  margin: 10px auto 0 auto; }
  header p#account {
    float: right;
    margin-bottom: 15px; }

#content {
  position: relative;
  clear: both;
  width: 750px;
  min-height: 285px;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 1em;
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  #content img[src^="http://maps.google.com/maps/api/"] {
    position: absolute;
    bottom: 1em;
    right: 1em; }

#right {
  width: 345px;
  float: right; }
  #right #outings {
    min-height: 150px; }
  #right li {
    margin-bottom: 0.5em; }
    #right li img {
      margin-right: 2px; }
  #right span.outing {
    display: block;
    margin-bottom: 2px; }

#left {
  float: left; }

h1 a {
  font: 64px Lobster;
  color: #af1523; }
  h1 a:hover {
    text-decoration: none; }

h2, h3, h4 {
  font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
  line-height: 1.2em;
  color: #2d3962;
  padding: 0 0 15px 0; }

h2 {
  font-size: 22px; }

p {
  color: #666666;
  margin: 0 0 1em 0; }

#flash p {
  padding: 10px 15px;
  margin: 0 0 30px 0;
  font-weight: bold; }
#flash .notice {
  background: #e6efff;
  border: 1px solid #0066bb;
  color: #0066bb; }
#flash .alert {
  background: #ffeceb;
  border: 1px solid #ea4e42;
  color: #ea4e42; }

ol {
  list-style-type: none;
  margin: 1em 0 0;
  padding-left: 0; }
  ol li {
    line-height: 1.5em; }

ul#devise_links {
  margin: 1em 0 0 0; }

ul#outing_users {
  list-style-type: disc;
  list-style-position: inside;
  margin: 1em 0; }

.button {
  -webkit-font-smoothing: antialiased;
  overflow: visible;
  padding: 5px 12px;
  font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #006b00;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: green;
  background-image: -moz-linear-gradient(100% 100% 90deg, #006b00, green);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(green), to(#006b00)); }
  .button:active {
    position: relative;
    top: 1px; }

.authentications {
  margin-bottom: 30px; }

.authentication {
  width: 130px;
  float: left;
  background-color: #ccffff;
  border: solid 1px #33ccff;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px; }

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333333;
  padding: 2px 4px;
  font-size: 10px; }

.authentication .remove:hover {
  color: #cccccc;
  background-color: #777777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

.authentication img {
  float: left;
  margin-right: 10px; }

.authentication .provider {
  font-weight: bold; }

.authentication .uid {
  color: #666666;
  font-size: 11px; }

.auth_provider img {
  display: block; }

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px; }

footer {
  width: 750px;
  padding: 15px 10px;
  margin: 0 auto; }
