#outings
  %h2 Today&rsquo;s Outings

  - if outings.any?
    %ol#outings
      - outings.each do |outing|
        %li
          = link_to outing.restaurant.name, restaurant_outing_path(outing.restaurant, outing)
  - else
    %p No outings yet today.

#restaurants
  %h2 All Restaurants
  %p= link_to "+ Add a Restaurant", new_restaurant_path, :class => "green button"

  %ol#restaurants
    - restaurants.each do |restaurant|
      %li
        = link_to restaurant.name, new_restaurant_outing_path(restaurant)

.clear
